* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.global-padding {
  padding: 10px 100px;
}
body {
  color: #472f1d;
}

.container .nav {
  border-bottom: 1px solid #472f1d;
  background-color: #472f1d7c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bars {
  display: none;
}
.fa-bars {
  font-size: 50px;
}

.container .nav img {
  height: 50px;
}

.container .nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .nav ul li {
  display: inline-block;
  margin-right: 16px;
}

.container .nav ul li:last-child {
  margin-right: 0;
}

.container .nav ul li a {
  text-decoration: none;
  padding: 4px 8px;
  color: #472f1d;
  display: block;
  text-align: center;

  position: relative;
}
.container .nav ul li a::after {
  content: "";
  width: 0;
  display: block;
  background-color: #191919;
  height: 2px;
  transition: 0.5s;
  margin: auto;
}
.container .nav ul li a:hover::after {
  width: 100%;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}
.field {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.contact-form {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact-form p {
  width: 85%;
  text-align: center;
  font-size: 18px;
}
.contact-form form {
  width: 85%;
  max-width: 500px;
}

input,
textarea {
  font-size: 20px;
  padding: 5px;
  border: 1px solid #472f1d;
  width: 100%;
  border-radius: 12px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #472f1d7c;
  border: none;
  color: #472f1d;
}
input[type="submit"]:hover {
  background-color: #472f1d;
  color: #a992817c;
}
#message {
  resize: none;
}
/* Footer area */

.padding-footer {
  padding: 16px 10%;
}

.footer {
  border-top: 1px solid #000;
  background-color: #fff;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #a2a2a2;
  font-weight: 200;
  margin: 0;
  background-color: #f2f2f2;
}

.footer .footer-logo {
  width: 50%;
  font-size: 14px;
}

.footer .footer-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .footer-col p {
  margin-bottom: 16px;
}

.footer .footer-col i {
  margin-right: 8px;
}

.footer .footer-logo img {
  width: 120px;
}

.footer .copyright {
  padding: 18px 10%;
}

@media only screen and (max-width: 700px) {
  .container .nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .footer .footer-col {
    align-items: center;
  }
}
@media only screen and (max-width: 550px) {
  .container .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .container .nav ul li {
    margin: 0;
    padding: 0;
  }
}
