* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #472f1d;
  height: 100vhr;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: #2769b5;
}

/* Header area */

.padding-nav {
  padding: 16px 10%;
}

.container .nav {
  background-color: #472f1d7c;
  border-bottom: 1px solid #472f1d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .nav img {
  height: 50px;
}

.container .nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .nav ul li {
  display: inline-block;
  margin-right: 16px;
}

.container .nav ul li:last-child {
  margin-right: 0;
}

.container .nav ul li a {
  padding: 4px 8px;
  color: #472f1d;
}

.container .nav ul li a:hover {
  border-bottom: 1px solid #472f1d;
}

/*Main area*/
main {
  background: url(../Images/bg-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-form {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.51);
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
.sign-in-form h2 {
  margin-bottom: 12px;
}
a {
  display: inline-block;
}
.question {
  margin-bottom: 16px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form input {
  font-size: 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 8px;
}
form input[type="button"] {
  background-color: #472f1d;
  color: #fff;
  margin-top: 16px;
}

/* Footer area */

.padding-footer {
  padding: 16px 10%;
}

.footer {
  border-top: 1px solid #000;
  background-color: #fff;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #a2a2a2;
  font-weight: 200;
  margin: 0;
  background-color: #f2f2f2;
}

.footer .footer-logo {
  width: 50%;
  font-size: 14px;
}

.footer .footer-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .footer-col p {
  margin-bottom: 16px;
}

.footer .footer-col i {
  margin-right: 8px;
}

.footer .footer-logo img {
  width: 120px;
}

.footer .copyright {
  padding: 18px 10%;
}
